A <%= @exception.class %> occurred on <%= @hostname %>

  <%= @exception.message %>
  <%= @backtrace.first %>

Backtrace:
<%= @backtrace.join "\n" %>

<% @subsections.each do |title, content| %>
<%= title %>:
<%= content %>

<% end %>